H1 { 
   }
H2 { background-color: #F0F0D0;
     padding-left: 1em;
     padding-top: 5px;
     padding-bottom: 2px;
     border-top: 2px solid green;
     border-left: 2px solid green;  }

H3 { padding: 2px 0 2px 1em;
     border-left: 5px solid #A0F0A0;
     background-color: #D0F0D0;
     }

H4 { margin-left: 2em;
     padding: 2px 0 2px 1em;
     border-left: 7px solid #B0F0B0;
     background-color: #E0F0E0;
     }

DIV.additional { 
      margin-left: 4em;
    }

P { padding-left: 3em;
  }
  
P.author { text-align: right;
  }

PRE { margin: 0 2em 0 4em;
      padding: 4px 0 4px 4px;
      background-color: #F0FFF0;
    }

table { margin-left: 3em;
  border: 1px gray solid;
      }
table th {
  text-align: left;
  white-space: nowrap;
  border: 1px gray solid;
}
table td {
  border: 1px gray solid;
  vertical-align: top;
  padding-left: 2px;
  padding-top: 2px;
  padding-right: 1em;
  margin-bottom: 1ex;
}
table td p{
  padding-left: 0;
}
UL { margin-top: 1em;
     margin-bottom: 1em;
   }
LI { margin-left: 3em;
     margin-top: 4px;
   }
UL.checklist LI {
    margin-left: 1em;
  }
